.enter-group-checkbox {
  margin: 10px;
}

.text-input {
  margin: 15px;
  padding: 5px;
  height: 30px;
  border: #151515 solid 1px;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.timing {
  margin: 20px;
  border-bottom: #626262 solid 1px;
}

.subject-inputs {
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 800;
}