<div *ngIf="isGroupsEmpty(); else not_empty">
    <div *ngTemplateOutlet="is_empty"></div>
</div>

<div *ngTemplateOutlet="subject_inputs"></div>


<ng-template #not_empty>
    <form>
        <input (click)="enterGroupClicked()" class="enter-group-checkbox" id="enter-group" type="checkbox">
        <label for="enter-group">Enter not list group</label>
        <br>

        <div *ngIf="existingGroup; else entering_group">
            <input *ngFor="let group of appComponent.groups" class="azalea-button" type="button" value="{{group}}" (click)="selectGroup(group)">
        </div>
    </form>
</ng-template>

<ng-template #is_empty>
    <div *ngTemplateOutlet="entering_group"></div>
</ng-template>

<ng-template #subject_inputs>
    <div *ngIf="group">
        <h2>{{group}}</h2>
        <form>
            <input *ngFor="let day of appComponent.days" class="azalea-button" type="button" value="{{day.title}}" (click)="selectDay(day)">
            <div *ngIf="day">
                <h2>{{day.title}}</h2>
                <div *ngIf="subjects; else loading">
                        <span *ngFor="let timing of appComponent.timings" class="block timing">
                            <input class="azalea-button" style="min-width: 250px" type="button" value="{{timing.id}}. {{getSubjectsByTiming(timing)}}" (click)="clickedSubject(getSubjectsByTiming(timing))">
                        </span>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #entering_group>
    <input class="azalea-input" placeholder="Enter group" type="text" (keyup)="enterGroup($event)">
</ng-template>

<ng-template #loading>
    <div class="div_center">
        <div class="loader"></div>
    </div>
</ng-template>