<header class="header">
    <nav *ngIf="appComponent.group !== null" class="nav-header">
        <div class="nav_controls">
            <p class="nav-link" [ngClass]="{current:isCurrent('mon')}" (click)="onClickNav('mon')">Mon</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('tue')}" (click)="onClickNav('tue')">Tue</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('wed')}" (click)="onClickNav('wed')">Wed</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('thu')}" (click)="onClickNav('thu')">Thu</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('fri')}" (click)="onClickNav('fri')">Fri</p>
        </div>

        <div class="nav_controls">
        <span class="separator"> | </span>
            <p class="nav-link" [ngClass]="{current:isCurrent('yesterday')}" (click)="onClickNav('yesterday')">Yesterday</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('today')}" (click)="onClickNav('today')">Today</p>
            <p class="nav-link" [ngClass]="{current:isCurrent('tomorrow')}" (click)="onClickNav('tomorrow')">Tomorrow</p>
        </div>

        <div class="nav_controls pages_links">
            <a>Login</a>
        </div>
    </nav>
    <div class="logo">
        <img [ngClass]="{next_week:appComponent.isNextWeek}" (click)="onClickNext()" src="assets/img/azalea-logo.png" alt="logo">
    </div>
</header>