<header class="header">
    <nav *ngIf="appComponent.group !== 0" class="nav-header">
        <span class="params">
            <p class="nav-link" (click)="onClickNav('mon')">Mon</p>
            <p class="nav-link" (click)="onClickNav('tue')">Tue</p>
            <p class="nav-link" (click)="onClickNav('wed')">Wed</p>
            <p class="nav-link" (click)="onClickNav('thu')">Thu</p>
            <p class="nav-link" (click)="onClickNav('fri')">Fri</p>
        </span>

        <span class="params">
        <span class="separator"> | </span>
            <p class="nav-link" (click)="onClickNav('yesterday')">Yesterday</p>
            <p class="nav-link" (click)="onClickNav('today')">Today</p>
            <p class="nav-link" (click)="onClickNav('tomorrow')">Tomorrow</p>
        </span>
    </nav>
    <div class="logo">
        <img src="assets/img/azalea-logo.png" alt="logo">
    </div>
</header>