<header class="header">
    <nav class="nav-header">
        <span class="params">
            <a class="nav-link" href="/4151/mon">Mon</a>
            <a class="nav-link" href="/4151/tue">Tue</a>
            <a class="nav-link" href="/4151/wed">Wed</a>
            <a class="nav-link" href="/4151/thu">Thu</a>
            <a class="nav-link" href="/4151/fri">Fri</a>
        </span>

        <span class="separator"> | </span>
        <span class="params">
            <a class="nav-link" href="/4151/yesterday">Yesterday</a>
            <a class="nav-link" href="/4151/today">Today</a>
            <a class="nav-link" href="/4151/tomorrow">Tomorrow</a>
        </span>

        <span class="separator"> | </span>
        <span class="params">
            <a class="nav-link" href="/4151/prev">Prev</a>
            <a class="nav-link" href="/4151/now">Now</a>
            <a class="nav-link" href="/4151/Next">Next</a>
        </span>
    </nav>
    <div class="logo">
        <img src="assets/img/azalea-logo.png" alt="logo">
    </div>
</header>