.nav-header{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/*Header nav link*/
.nav-param-btns{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  color: #626262;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: color .2s linear, border-bottom-color .4s linear;
  cursor: pointer;

  &:hover,
  &.current{
    color: #fc8a8a;
  }
  &:hover{
    border-bottom-color: #fc8a8a;
  }
}

/*Header logo*/
.logo {
  background-image: url("/assets/img/back.png");
  border-width: 1px;
  border-style: inset;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(128, 128, 128, 0.24);
  border-top-color: rgba(128, 128, 128, 0.24);
  text-align: center;

  img {
    height: 150px;
    &.next_week {
      border-bottom: #151515 3px solid;
    }
  }
}

.nav_controls{
  display: inline-block;
}

.pages_links {
  position: absolute;
  right: 20px;
  a {
    margin: 10px;
    color: #151515;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .nav-param-btns {
    margin-bottom: 10px;
  }
  .nav-header {
    padding-bottom: 0;
  }
  .nav_controls {
    display: block;
  }
  .separator {
    display: none;
  }
  .pages_links {
    position: initial;
    margin-bottom: 15px;
    //right: auto;
    a {
    }
  }
}
