.subject {
  border-bottom: #888888A3 solid 1px;
  &:last-child {
    border: none;
  }
  padding-bottom: 15px;
}

.article-category {
  font-style: italic;
  color: #888888;
  font-family: "Times New Roman", serif;
  span{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
  }
}

.subject-title {
  margin-top: 5px;
  font-size: 24px;
  font-family: 'Raleway', serif;
  color: #ff8a8a;
  font-weight: bold;
}

a {
  color: #039be5;
  transition: color .2s linear;
  text-decoration: none;
  &:hover{
    color: #fc8a8a;
    cursor: pointer;
  }
}

.auditory {
  span {
    color: #626262;
  }
}