<div class="div_center_v" *ngIf="appComponent.subjects !== null; else loading">
    <div *ngIf="appComponent.subjects.length > 0; else subjectEmpty">
        <h1><span>{{appComponent.subjects[0].weekDay.title}}</span></h1>
        <div *ngFor="let subject of appComponent.subjects" class="subject">
            <h3 class="subject-title"><span>{{subject.timing.id}}</span>. {{subject.title}}</h3>
            <div *ngIf="subject.meetingUrl !== ''"><a href="{{subject.meetingUrl}}" target="_blank">Meeting url</a></div>
            <div *ngIf="subject.classroomUrl !== ''"><a href="{{subject.classroomUrl}}" target="_blank">Google class</a></div>
            <div *ngIf="subject.auditory !== ''" class="auditory">Auditory <span>{{subject.auditory}}</span></div>
            <div class="timings">Starts at: <span>{{subject.timing.startsAt}}</span></div>
            <div class="timings">Ends at: <span>{{subject.timing.endsAt}}</span></div>
        </div>
    </div>
</div>

<div *ngIf="appComponent.subjects !== null || appComponent.nearTimingSubjects !== null">
    <div class="separator"></div>
    <div *ngIf="appComponent.nearTimingSubjects !== null; else loading">
        <div *ngFor="let subject of appComponent.nearTimingSubjects; let idx = index" class="subject">
            <h2><span>{{nearTimingsTitle[idx]}}</span></h2>
            <div *ngIf="subject; else noTiming">
                <h3 class="subject-title"><span>{{subject.timing.id}}</span>. {{subject.title}}</h3>
                <div *ngIf="subject.meetingUrl !== ''"><a href="{{subject.meetingUrl}}" target="_blank">Meeting url</a></div>
                <div *ngIf="subject.classroomUrl !== ''"><a href="{{subject.classroomUrl}}" target="_blank">Google class</a></div>
                <div *ngIf="subject.auditory !== ''" class="auditory">Auditory <span>{{subject.auditory}}</span></div>
                <div class="timings">Starts at: <span>{{subject.timing.startsAt}}</span></div>
                <div class="timings">Ends at: <span>{{subject.timing.endsAt}}</span></div>
            </div>
        </div>  <ng-template #noTiming><h3 class="subject-title">There is no pair</h3></ng-template>
    </div>
</div>

<ng-template #subjectEmpty>
    <div class="subject">
        <h2 class="subject-title">There is no pair(s)</h2>
    </div>
</ng-template>

<ng-template #loading>
    <div class="div_center">
        <div class="loader"></div>
    </div>
</ng-template>