*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.body{
  background-color: #e7e7e7;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

img{
  max-width: 100%;
}

/*Container*/
.container{
  min-height: 65vh;
  background-color: #ffffff;
  padding: 5px 15px;
  max-width: 1024px;
  margin: 0 auto;
}

.separator {
  margin: 10px 0 30px;
  border-bottom: 2px solid rgb(137, 0, 0);
}

.half-separator {
  max-width: 50%;
  margin: 10px auto;
  border-bottom: 2px solid #888888;
}

h1, h2 {
  text-align: center;
  font-family: 'Raleway', serif;
  color: #fc8a8a;
  font-weight: bold;
  span {
    border-radius: 5px;
    border-bottom: 2px solid #fc8a8a;
  }
}

.timings {
  span{
    color: #ff5b20;
  }
}

/*Mob adapt*/
@media (max-width: 768px) {
  .container{
    padding-left: 20px;
  }
}
/**/
.blue-span{
  color: blue;
}

/* Comments style block */
.comment-block{
  padding: 5px 10px 10px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.24);
}

/**/
.error_string_background {
  color: #151515;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ff9a9a;
  white-space: nowrap;
}

/// spinner

.div_center {
  text-align: center;
}

.loader {
  margin: 10px;
  display: inline-block;
  --b: 5px;  /* border thickness */
  --n: 10;    /* number of dashes*/
  --g: 10deg; /* gap  between dashes*/
  --c: #ff9a9a;   /* the color */

  width:100px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(#0000,var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */
          repeating-conic-gradient(#0000 0deg,
                  #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
                  #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
          radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}